.poster-container {
  width: 295px;
  height: 475px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster {
  width: 275px;
  height: 412.5px;
  margin-top: 10px;
}

.poster-title {
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-align: center;
}

