.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

header {
  display: flex;
  align-items: flex-end;
  height: 500px;
  width: 100%;
  background-image: url('../../theater1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.neatflix-logo {
  height: 500px;
}

.warning {
  color: white;
}

