.movie-search {
  margin: 10px;
  font-size: 15px;
  padding: 5px 10px;
  width: 20%;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: box-shadow 0.3s ease ;
}

.movie-search:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(190, 150, 55);
}